<header class="z-50">
  <div class="max-w-7xl w-full ml-auto mr-auto pt-4 pb-4">
    <h1 class="text-7xl font-bold text-gray-500">My Blog</h1>
  </div>
  <div class="w-full border-b"></div>
  <div class="max-w-7xl w-full ml-auto mr-auto m-4">
    <div class="flex justify-start">
      <a class="text-indigo-600 hover:text-indigo-900 mr-4">12 Followers</a>
      <a routerLink="" class="text-indigo-600 hover:text-indigo-900 mr-4">Main</a>
      <a class="text-indigo-600 hover:text-indigo-900">About</a>
    </div>
  </div>
  <div class="w-full border-b"></div>
</header>

<router-outlet></router-outlet>
